# Server
PORT=5000

# Frontend URL (untuk CORS)
FRONTEND_URL=http://localhost:3000

# Database PostgreSQL
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/shealth_db"

# Environment
NODE_ENV=development
